html{-webkit-text-size-adjust: none;-ms-content-zooming: none;}
body{ 
  margin:0;
  font-family: 'Roboto', serif; 
  line-height:18.75px;
  font-style: normal;
  font-size:16px;
  color:#ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
